body{
    margin: 0;
}
.navbar{
    padding: 30px;
    background-color: #101831;
    display: flex;
}
.link{
    text-decoration: none;
}
.groupomania {
    color: white;
    margin: 0;
}
.navbar .menu {
    margin-left: auto;
    display: flex;
}

.menuItems {
    list-style: none;
    color: white;
}
.menuItems:last-child{
    padding: 0;
    height: 18px;
    color: white;
}
.menu>a:nth-last-child(-n+3) {
    margin-left: 20px;
}
.menu>a {
    text-decoration: none;
}
.identification {
    width: fit-content;
    margin: auto;
}
.registration {
    display: inline-grid;
    width: 100%;
}
.login{
    display: inline-grid;
    width: 100%;
}
/* .identification {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 32%;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
} */
.upload {
    margin-bottom: 50px;
}
.form {
    display: inline-grid;
    width: 40%;
}
.form input {
    border: 1px solid #BCBCBC;
    border-radius: 4px;
}
/* .inputContent {
    padding-bottom: 170px;
} */
.form>input:nth-last-child(-n+3) {
    margin-top: 7px;
}
.publish {
    margin-top: 10px;
}